<Panel id="Settings" class="Window" width="300" height="130" visibility="host" active="false" rectAlignment="MiddleCenter" color="#69696940">
    <Panel class="TopBar" width="300" color="rgba(0,0,0,1)" />
    <Text class="WindowTitle" fontSize="18" height="20" offsetXY="0 -5" rectAlignment="UpperCenter" color="#FFFFFF">Settings</Text>
    <Button class="closeButton" onClick="closeSettings" offsetXY="-5 -5"/>

    <Panel color="rgba(0,0,0,1)" offsetXY="0 -25">
        <Toggle id="ShowBankLabels" onValueChanged="togglePlaceholder" offsetXY="15 30" text=" Show bank placeholder text" width="300" textColor="#FFFFFF"></Toggle>
        <Toggle id="RotateBank" onValueChanged="toggleRotateBank" offsetXY="15 5" text=" Rotate bank to face active player" width="300" textColor="#FFFFFF"></Toggle>
        <Toggle id="ShowTools" onValueChanged="toggleEnableTools" offsetXY="15 -20" text=" Show player Tools" width="300" textColor="#FFFFFF"></Toggle>
    </Panel>
</Panel>